extends _layouts/base

block content
    section.hello
        .container
            .wrap
                .col-10.col-offset-1
                    h1
                        span.text(data-text='Hello World...') Hello World...
                        span.bar
                    p
                        | I'm !{' '}
                        a(href='/#/about/', data-text='Niño Ross Rodriguez,')
                            span Niño Ross Rodriguez,
                        |  a Senior User Experience (UX) Developer with nine years of industry experience, specializing in developing pixel perfect websites quickly without sacrificing code quality and ensuring that users have the best UX they can get in a site. Get to know a bit more !{' '}
                        a(href='/#/about/', data-text='about my skills')
                            span about my skills
                        |  or feel free to look around my !{' '}
                        a(href='/#/coding/', data-text='coding')
                            span coding
                        |  and !{' '}
                        a(href='/#/design/', data-text='design')
                            span design
                        |  works.
                    hr
                    nav
                        ul
                            li
                                a.element-box(href='/#/about/', data-name='about')
                                    span.text
                                        span.abbr(aria-hidden='true') Ab
                                        span.full about
                                    span.icon.icon-about
                            li
                                a.element-box(href='/#/achievements/', data-name='achievements')
                                    span.text
                                        span.abbr(aria-hidden='true') Ac
                                        span.full achievements
                                    span.icon.icon-achievements
                            li
                                a.element-box(href='/#/coding/', data-name='coding')
                                    span.text
                                        span.abbr(aria-hidden='true') Co
                                        span.full coding
                                    span.icon.icon-coding
                            li
                                a.element-box(href='/#/design/', data-name='design')
                                    span.text
                                        span.abbr(aria-hidden='true') De
                                        span.full design
                                    span.icon.icon-design
                            li
                                a.element-box(href='/#/contact/', data-name='contact')
                                    span.text
                                        span.abbr(aria-hidden='true') Ct
                                        span.full contact
                                    span.icon.icon-contact
    section.about
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// about') // about
                        span.bar
                            i.icon.icon-about
                    .wrap
                        .col-l.col-6
                            p
                                | As a !{' '}
                                strong Senior UX Developer
                                | , I love being challenged.  I like to !{' '}
                                strong create
                                |  solutions to user experience problems, !{' '}
                                strong imagine
                                |  fun interaction and animation, and !{' '}
                                strong develop
                                |  the best web experience.
                            p
                                | Most of the time I hand-code everything from scratch using my !{' '}
                                a(href='https://www.github.com/oninross/firestarter', target='_blank', data-text='Firestarter framework', rel='noopener') Firestarter framework.
                                |   I use HTML5 Boilerplate and Twitter Bootstrap for rapid development if it is only necessary.
                        .col-r.col-6
                            h2 Skillset Breakdown
                            .skills
                                .skills__bar(data-percent='95.0')
                                    .skills__label HTML5 / HTML
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                                .skills__bar(data-percent='90.0')
                                    .skills__label CSS3 / CSS
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                                .skills__bar(data-percent='80.0')
                                    .skills__label JavaScript / jQuery / TweenMax
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                                .skills__bar(data-percent='70.0')
                                    .skills__label ActionScript 3.0 / 2.0
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                                .skills__bar(data-percent='90.0')
                                    .skills__label Adobe PhotoShop
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                                .skills__bar(data-percent='75.0')
                                    .skills__label Web Design
                                    .skills__percent
                                        span.skills__percent-number 00.0
                                        span.skills__percent-unit %
                    hr
                    .logos
                        p Some of the companies I’ve worked on projects for:
                        ul
                            li
                                img(src='/assets/infiniteimaginations/images/svg/logo-ogilvy.svg', alt='OgilvyOne')
                            li
                                img(src='/assets/infiniteimaginations/images/svg/logo-sony.svg', alt='Sony')
                            li
                                img(src='/assets/infiniteimaginations/images/svg/logo-singtel.svg', alt='SingTel')
                            li
                                img(src='/assets/infiniteimaginations/images/svg/logo-holiday-inn.svg', alt='Holiday Inn')
                            li
                                img(src='/assets/infiniteimaginations/images/svg/logo-abacus.svg', alt='Abacus')
    section.achievements
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// achievements') // achievements
                        span.bar
                            i.icon.icon-achievements
                    .wrap
                        .col-l.col-6
                            p
                                | I have been fortunate enough to be featured in !{' '}
                                a(href='http://www.webdesignerdepot.com/2017/01/the-best-new-portfolio-sites-january-2017/', target='_blank', itemprop='url', data-text='Web Designer Depot', rel='noopener') Web Designer Depot
                                |  and !{' '}
                                strong Web Designer Magazine
                                |  when I least expected it. I also have received User Approved from Awwwards, Fox Favorite from CSS Fox, Site of the Day from Design Nominees, Guru of the Day from Web Guru Awards, and nominations from CSS Winner, CSS Nectar, CSS Reel, CSS Light, Best CSS Award, CSS Awrds, One Page Mania, CSS Awards, CSS Design Awards and Lemon Web Awards over the past years.
                            a.link(href='http://beta.infiniteimaginations.co', target='_blank', itemprop='url', rel='noopener')
                                img(src='/assets/infiniteimaginations/images/web-designer-magazine.png', alt='Featured in Web Designer Magazine')
                            p !{' '}
                                a.link.beta(href='http://beta.infiniteimaginations.co', target='_blank', data-text='beta.infiniteimaginations.co', itemprop='url', rel='noopener') beta.infiniteimaginations.co
                        .col-r.col-6
                            h2 Recognitions
                            .nominations
                                ul
                                    li
                                        .title
                                            | User Approved
                                            .light Awwwards 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Featured
                                            .light Web Designer Depot
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Featured
                                            .light Web Designer Magazine UK Issue 196
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Fox Favorite
                                            .light Css Fox 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | CSSW Star
                                            .light CSS Winner 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Featured
                                            .light CSS Mania 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Guru of the Day
                                            .light Web Guru Awards 2017
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Site of the Day
                                            .light Design Nominee 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Site of the Day
                                            .light Best CSS Award
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Nominee
                                            .light CSS Reel 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Nominee
                                            .light CSS Nectar 2016
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                                    li
                                        .title
                                            | Nominee
                                            .light Awwwards 2014
                                        .ui
                                            .ui-corner.ui-corner__ul
                                            .ui-corner.ui-corner__ur
                                            .ui-corner.ui-corner__bl
                                            .ui-corner.ui-corner__br
                                            .ui-pattern
                    hr
                    .ribbons
                        p Some of the ribbons I have collected over the years:
                        ul
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/awwwards-user-approved.png', alt='Awwwards - User Approved')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/awwwards.svg', alt='Awwwards Nominee')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/cssfox.svg', alt='CSS Fox - Fox Favorite')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/guruoftheday.jpg', alt='Web Guru Awards - Guru of the Day')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/bestcssaward.png', alt='Best CSS Awards - SOTD')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/cssnectar.png', alt='CSS Nectar - Nominee')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/cssawds.png', alt='CSS Awards - Nominee')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/bestcss.png', alt='Best CSS - Nominee')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/cssa.png', alt='CSS Awards - Featured')
                            li.ui-pattern
                                img(src='/assets/infiniteimaginations/images/ribbons/cssda.png', alt='CSS Design Awards - Nominee')
    section.case-studies.coding
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// coding') // coding
                        span.bar
                            i.icon.icon-coding
                    .wrap
                        .col.col-6(itemscope='', itemtype='http://schema.org/CreativeWork')
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
                        .col.col-6(itemscope='', itemtype='http://schema.org/CreativeWork')
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
    section.case-studies.design
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// design') // design
                        span.bar
                            i.icon.icon-design
                    .wrap
                        .col.col-6(itemscope='', itemtype='http://schema.org/CreativeWork')
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
                        .col.col-6(itemscope='', itemtype='http://schema.org/CreativeWork')
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
                            a.card-link(href='/#/case-study/', itemprop='url')
                                .card
                                    .card-wrap
                                        img(src='/assets/infiniteimaginations/images/pixel.jpg', alt='image')
                                        .card-text
                                            span.card-title(aria-hidden='true', itemprop='name')
                                            .cta
                                                | See case study
                                                .cta-icon
                                                    i.icon.icon-chevron-right
                                                    i.icon.icon-chevron-right
    section.case-study
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// case study: ') // case study:
                        span.bar
                            i.icon.icon-about
                    .wrap
                        .case-study__wrap.col-8.col-offset-2
    section.contact
        .container
            .wrap
                .col-12
                    h1
                        span.text(data-text='// contact') // contact
                        span.bar
                            i.icon.icon-contact
                    p
                        | If you want to have a chat about anything digital, UX, or collaborate, don't hesitate to connect with me.
                    br
                    p I am always up for anything geeky. ^_^
                    .contact-icons
                        ul(itemscope='', itemtype='http://schema.org/Organization')
                            li !{' '}
                                a(href='mailto:oninross@gmail.com', rel='noopener')
                                    span.vh eMail
                                    i.icon.icon-email
                            li !{' '}
                                a(href='https://sg.linkedin.com/in/ninorossrodriguez', target='_blank', itemprop='sameAs', rel='noopener')
                                    span.vh LinkedIn
                                    i.icon.icon-linkedin
                            li !{' '}
                                a(href='https://github.com/oninross', target='_blank', itemprop='sameAs', rel='noopener')
                                    span.vh GitHub
                                    i.icon.icon-github
                            li !{' '}
                                a(href='https://www.facebook.com/oninross', target='_blank', itemprop='sameAs', rel='noopener')
                                    span.vh Facebook
                                    i.icon.icon-facebook
                            li !{' '}
                                a(href='https://www.instagram.com/oninross/', target='_blank', itemprop='sameAs', rel='noopener')
                                    span.vh Instagram
                                    i.icon.icon-instagram
    section.error
        .container
            .wrap
                .col-10.col-offset-1
                    h1
                        span.text(data-text='// oops!') // oops!
                        span.bar
                            i.icon.icon-warning
                    p Sorry, the page you are looking for does not exist
